@use '../mixins/mixins.scss'as m;

main {
    & #donations {
        position: relative;
        //z-index: 1;
        @include m.sizing(100vw, 100vh);
        @include m.flex(center, center);
        @include m.backgrounds(url(./img/donationsPic.jpg), cover, center, no-repeat);
        flex-direction: column;

        & .content-donations {
            @include m.sizing(100%, 60vh);
            display: flex;
            color: #FFFFFF;

            & .slide-left-2 {
                @include m.sizing(100%, auto);
                @include m.flex(center, center);
                flex-direction: column;

                & .center-content {
                    display: flex;
                    @include m.sizing(50%, auto);
                    text-align: center;
                    z-index: 2;

                    & .donations-title {
                        margin-bottom: 2rem;

                        h1 {
                            @include m.fonts('Lora', italic, none, 9rem, none);
                            @include m.spaces(0, 0);
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45), 0px 4px 4px rgba(0, 0, 0, 0.45);
                        }
                    }

                    & .description {
                        @include m.fonts('Lora', normal, none, 2rem, center);
                    }
                }

                & .buttons {
                    display: flex;
                    margin-top: 8px;

                    & button {
                        @include m.spaces(0px 12px, 12px);
                        @include m.fonts('Lora', italic, 700, 1.6rem, center);
                        background: #F9458E;
                        mix-blend-mode: normal;
                        border-radius: 7px;
                        line-height: 36px;
                        color: #FFFFFF;
                        border: none;
                        cursor: pointer;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25)
                    }
                }
            }
        }

        & .popup {
            @include m.sizing(100%, 20vh);
            @include m.flex(none, end);

            & .popup-cont {
                @include m.sizing(30%, 50%);
                @include m.flex(space-evenly, center);
                margin-bottom: 20px;
                z-index: 1;

                & .popup-svg {
                    cursor: pointer;
                    -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .3));
                    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .3));
                    //Similar syntax to box-shadow
                }

                & .popup-title {
                    @include m.flex(none, center);
                    @include m.fonts('Lora', italic, 700, 2rem, none);
                    color: white;
                    margin-top: 30px;

                    p {
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }
            }
        }
    }
}
