@use '../mixins/mixins.scss'as m;

body {

    & #prev {
        color: white;
        @include m.sizing(6rem, auto);

        & .iconify {
            font-size: 6rem;
            cursor: pointer;
            -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
        }
    }

    & #prev:after {
        content: none;
    }

    & #next {
        color: white;
        @include m.sizing(6rem, auto);

        & .iconify {
            font-size: 6rem;
            cursor: pointer;
            -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
        }
    }

    & #next:after {
        content: none;
    }

    & #up-down {

        top: 90%;
        left: 1%;
        position: absolute;
        z-index: 2;
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            transform-origin: center;
            //transform: rotate(-45deg);
            transition: all 1.4s;
        }

        .infoSwipeUp {
            @include m.fonts('Lora', italic, 700, 2rem, none);
            color: #ffffff;
            @include m.spaces(0px 0px 0px 15px, 0);
        }

        & .rotate {
            transform-origin: center;
            transform: rotate(135deg);
            transition: all 1.4s;
        }
    }

    & #up-down::after {
        content: none;
    }
}

@media (max-width: 640px) {
    #prev {
        display: none;
    }

    #next {
        display: none;
    }
}