@use '../mixins/mixins.scss'as m;

header {

    & nav {
        position: absolute;
        z-index: 2;
        @include m.sizing(100%, 7.5rem);
        @include m.flex(space-between, center);

        & .logo {
            @include m.sizing(15.625rem, none);
            @include m.flex(space-around, center);

            & img {
                @include m.sizing(4.5rem, 4.5rem);
                margin-left: 3rem;
                cursor: pointer;

                -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .3));
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .3));
            }

            & .title {
                color: white;
                @include m.fonts('Lora', normal, bold, 1.5rem, none);
                @include m.flex(none, flex-end);
                margin-left: 0.5rem;
                //visibility: hidden;
            }
        }
    }
}

@media (max-width: 1350px) {

    #menu {
        display: block !important;
    }
}

@media (max-width: 640px) {
    header {
        & nav {
            & .logo {
                & img {
                    margin-left: 1rem;
                }

                & .title {
                    margin-left: 0;
                    margin-right: 1rem;
                }
            }
        }
    }
}