@forward '../src/scss/comps/header.scss';
@forward '../src/scss/comps/arrows.scss';
@forward '../src/scss/comps/pagination.scss';
@forward '../src/scss/slides/donations.scss';
@forward '../src/scss/slides/aboutUs.scss';
@forward '../src/scss/slides/main.scss';
@forward '../src/scss/slides/howItWorks.scss';
@forward '../src/scss/slides/contactUs.scss';

@use '../src/scss/mixins/mixins.scss'as m;

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

html {
    position: relative;
    @include m.sizing(none, 100%);
}

body {
    position: relative;
    @include m.sizing(none, 100%);
    @include m.spaces(0, 0);
    background: #eee;
    font-family: Lora, serif;
    color: #000;

    & .swiper {
        @include m.sizing(100%, 100%);
    }

<<<<<<< HEAD
    main {

        /* & .first {
            position: relative;
            z-index: 0;
            width: 100vw;
            height: 100vh;
            background-image: url(./img/mainPic.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;

            & .content {
                background-color: transparent;
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #FFFFFF;

                & .leftarrow {
                    background-color: transparent;
                    width: 100px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & .iconify {
                        font-size: 6rem;
                        cursor: pointer;
                        -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                        Similar syntax to box-shadow
                    }
                }

                & .slide1 {
                    background-color: transparent;
                    width: auto;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;

                    & .pitayapp {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        & .main-title {
                            h1 {
                                font-size: 10rem;
                                font-style: italic;
                                margin: 0;
                                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                            }
                        }

                        & .description {
                            text-align: center;
                            font-size: 2rem;
                        }
                    }

                    & .buttons {
                        display: flex;
                        margin-top: 8px;

                        & button {
                            margin: 0px 12px;
                            background: #F9458E;
                            mix-blend-mode: normal;
                            border-radius: 7px;
                            font-family: 'Lora';
                            font-style: italic;
                            font-weight: 700;
                            font-size: 1.6rem;
                            line-height: 36px;
                            text-align: center;
                            color: #FFFFFF;
                            border: none;
                            padding: 12px;
                            cursor: pointer;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25)
                        }
                    }
                }

                & .rightarrow {
                    background-color: transparent;
                    width: 100px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & .iconify {
                        font-size: 6rem;
                        cursor: pointer;
                        -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));

                    }
                }
            }

        }*/

        & .about-us {
            position: relative;
            z-index: 0;
            width: 100vw;
            height: 100vh;
            background-image: url(./img/about-us-pic.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .empty {
                width: 100%;
                height: 20vh;
            }

            & .content-about-us {
                background-color: transparent;
                width: 100%;
                height: 60vh;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #FFFFFF;

                & .leftarrow {
                    background-color: transparent;
                    width: 100px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & .iconify {
                        font-size: 6rem;
                        cursor: pointer;
                        -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                        /* Similar syntax to box-shadow */
                    }
                }

                & .slide-left-1 {
                    background-color: transparent;
                    width: auto;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    & .center-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        & .slide-title {
                            & .h1-about-us {
                                font-size: 10rem;
                                font-style: italic;
                                margin: 0;
                                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                            }
                        }

                        & .sub-title {
                            width: 70%;
                            font-size: 2rem;
                            text-align: right;
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                        }
                    }

                }

                & .rightarrow {
                    background-color: transparent;
                    width: 100px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & .iconify {
                        font-size: 6rem;
                        cursor: pointer;
                        -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                        /* Similar syntax to box-shadow */
                    }
                }

                & .popup-slider {
                    width: 100%;
                    height: 20vh;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;

                    & .popup-content {
                        width: 30%;
                        height: 50%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;

                        & .popup-title {
                            display: flex;
                            align-items: center;
                            font-family: 'Lora';
                            font-style: italic;
                            font-weight: 700;
                            color: white;
                            font-size: 2rem;
                            margin-top: 30px;
                        }
                    }
                }
            }
        }

































    }

    footer {
        background-color: transparent;
        position: relative;
        width: 100%;
        height: 100px;
        bottom: 100px;
=======
    & .swiper-slide {
        @include m.fonts('Lora', normal, none, 1.125rem, center);
        background: #fff;

        /* WARNING: Don't touch this properties, don't include in mixins */
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
>>>>>>> dev_andrear
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

<<<<<<< HEAD
        & .circles {
            background-color: transparent;
            width: 250px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 25px;

            & .circle {
                background-color: rgb(255, 255, 255);
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 3px solid #979797;
            }

            & .three {
                border-color: white;
                background-color: #F9458E;
            }
        }
=======
    .swiper-v {
        background: #eee;
>>>>>>> dev_andrear
    }
}
