@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@mixin flex($justifyCont, $alignItems) {
    display: flex;
    justify-content: $justifyCont;
    align-items: $alignItems;
}

@mixin sizing($width, $height) {
    width: $width;
    height: $height;
}

@mixin spaces($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

@mixin backgrounds($image, $bgSize, $bgPosition, $bgRepeat) {
    background-image: $image;
    background-size: $bgSize;
    background-position: $bgPosition;
    background-repeat: $bgRepeat;
}

@mixin fonts($fontFamily, $fontStyle, $fontWeight, $fontSize, $textAlign) {
    font-family: $fontFamily;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    font-size: $fontSize;
    text-align: $textAlign;
}

@mixin mobile {
    @media only screen and (min-width: 400px) {
        @content;
}

@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: 992px) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

html {
    position: relative;
    @include sizing(none, 100%);
}

body {
    position: relative;
    @include sizing(none, 100%);
    @include spaces(0, 0);
    background: #eee;
    font-family: Lora, serif;
    color: #000;

    header {

        & nav {
            position: absolute;
            z-index: 2;
            @include sizing(45%, 7.5rem);
            @include flex(space-between, none);

            & .logo {
                @include sizing(15.625rem, none);
                @include flex(space-around, center);

                & img {
                    @include sizing(4.5rem, 4.5rem);
                    margin-left: 45px;
                    cursor: pointer;

                    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .3));
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .3));
                }

                & .title {
                    color: white;
                    @include fonts('Lora', normal, bold, 1.5rem, none);
                    @include flex(none, flex-end);
                    margin-left: 8px;
                    //visibility: hidden;
                }
            }

            & .menu {
                @include sizing(65rem, auto);
                @include flex(center, center);

                & ul {
                    list-style: none;
                    color: white;
                    @include fonts('Lora', normal, bold, 1.8rem, none);
                    @include flex(space-evenly, center);
                    @include spaces(0, 0);
                    @include sizing(100%, 100%);
                    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);

                    li {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    & .swiper {
        @include sizing(100%, 100%);
    }

    & .swiper-slide {
        @include fonts('Lora', normal, none, 1.125rem, center);
        background: #fff;

        /* WARNING: Don't touch this properties, don't include in mixins */
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-v {
        background: #eee;
    }

    & #prev {
        color: white;
        @include sizing(6rem, auto);

        & .iconify {
            font-size: 6rem;
            cursor: pointer;
            -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
            /* Similar syntax to box-shadow */
        }
    }

    & #prev:after {
        content: none;
    }

    & #next {
        color: white;
        @include sizing(6rem, auto);

        & .iconify {
            font-size: 6rem;
            cursor: pointer;
            -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
            /* Similar syntax to box-shadow */
        }
    }

    & #next:after {
        content: none;
    }

    & #up-down {

        top: 90%;
        left: 1%;
        position: absolute;
        z-index: 2;
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            transform-origin: center;
            //transform: rotate(-45deg);
            transition: all 1.4s;
        }

        .infoSwipeUp {
            @include fonts('Lora', italic, 700, 2rem, none);
            color: #ffffff;
            @include spaces(0px 0px 0px 15px, 0);
        }

        & .rotate {
            transform-origin: center;
            transform: rotate(135deg);
            transition: all 1.4s;
        }
    }

    & #up-down::after {
        content: none;
    }

    & #initial-page {
        position: relative;
        z-index: 0;
        @include sizing(100vw, 100vh);
        @include backgrounds(url(./img/mainPic.jpg), cover, center, no-repeat);
        @include flex(center, center);

        & .initial-content {
            @include sizing(100%, auto);
            @include flex(center, none);
            color: #FFFFFF;

            & .initial-slide {
                @include sizing(auto, 100%);
                @include flex(center, center);
                flex-direction: column;

                & .center-content {
                    @include flex(none, center);
                    flex-direction: column;

                    & .initial-title {

                        h1 {
                            @include fonts('Lora', italic, none, 9rem, none);
                            @include spaces(0, 0);
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                        }
                    }

                    & .description {
                        @include fonts('Lora', normal, none, 2rem, center);
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }

                & .buttons {
                    display: flex;
                    margin-top: 0.5rem;

                    & .btn {
                        @include spaces(0px 12px, 12px);
                        @include fonts('Lora', italic, 700, 1.6rem, center);
                        background: #F9458E;
                        mix-blend-mode: normal;
                        border-radius: 7px;
                        line-height: 36px;
                        color: #FFFFFF;
                        border: none;
                        cursor: pointer;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25)
                    }
                }

                & .guest {
                    color: #FFFFFF;
                    @include fonts('Lora', normal, bold, 1.8rem, none);
                    @include spaces(1rem, 0);
                    cursor: pointer;
                    //text-decoration: underline;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }
    }

    & #how-it-works {
        position: relative;
        z-index: 0;
        @include sizing(100vw, 100vh);
        @include backgrounds(url(./img/howItWorks.jpg), cover, center, no-repeat);
        @include flex(center, center);

        & .content-how-it-works {
            @include sizing(100%, 60vh);
            @include flex(center, center);
            color: #FFFFFF;

            & .slide-right-1 {
                @include sizing(auto, 100%);
                @include flex(end, center);
                flex-direction: column;

                & .center-content {
                    @include flex(none, center);
                    flex-direction: column;
                    z-index: 2;

                    & .how-it-works-title {
                        h1 {
                            @include fonts('Lora', italic, none, 9rem, none);
                            @include spaces(0, 0);
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                        }
                    }

                    & .knives {
                        font-size: 8rem;
                        display: flex;
                        margin-top: 20px;

                        & #left_knife {
                            position: relative;
                            left: 50px;
                            -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                        }

                        & #right_knife {
                            position: relative;
                            right: 50px;
                            color: #F9458E;
                            z-index: -1;
                            transform: scaleX(-1);
                            -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                        }
                    }

                    & .pink_text {
                        color: #F9458E;
                        @include fonts('Lora', italic, bold, 2rem, center);
                        @include sizing(20%, none); //60% cuando cambiamos al popup

                        p {
                            @include spaces(1rem, 0);
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        }
                    }
                }
            }
        }
    }

    & #about-us {
        position: relative;
        @include sizing(100vw, 100vh);
        @include backgrounds(url(./img/aboutUsPic.jpg), cover, center, no-repeat);
        @include flex(center, center);
        flex-direction: column;

        & .empty {
            @include sizing(100%, 15vh);
        }

        & .content-about-us {
            @include sizing(100%, 60vh);
            display: flex;
            color: #FFFFFF;

            & .slide-left-1 {
                @include sizing(100%, auto);
                @include flex(center, center);
                flex-direction: column;

                & .center-content {
                    @include sizing(50%, auto);
                    text-align: center;
                    z-index: 2;

                    & .about-us-title {
                        h1 {
                            @include fonts('Lora', italic, none, 9rem, none);
                            @include spaces(0, 0);
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                        }
                    }

                    & .sub-title {
                        h2 {
                            @include spaces(0, 0);
                            @include fonts('Lora', italic, 600, 3.5rem, center);
                            margin-bottom: 25px;
                            margin-left: 130px;
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                        }
                    }
                }
            }
        }

        /* & .popup {
            @include sizing(100%, 100%);
            @include flex(end, end);

            & .popup-container {
                @include sizing(30%, 50%);
                @include flex(space-evenly, center);
                margin-bottom: 20px;
                z-index: 1;

                & .popup-title {
                    @include flex(none, center);
                    @include fonts('Lora', italic, 700, 2rem, none);
                    color: #F9458E;
                    margin-top: 30px;

                    p {
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }

                & .popup-svg {
                    cursor: pointer;
                    -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .3));
                    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .3));
                    //Similar syntax to box-shadow
                }
            }
        } */
    }

    & #swipe-up-about-us {
        position: relative;
        @include sizing(100vw, 100vh);
        @include backgrounds(url(./img/aboutUsPic.jpg), cover, center, no-repeat);
        @include flex(center, center);
        // @include flex(space-between, center);

        & .pink-background{
            position: fixed;
            @include sizing(100vw, 100vh);
            background-color: rgba(249, 69, 142, 0.4);
            z-index: -1;

            & .empty {
                @include sizing(100%, 20vh);
            }

                & .slide-swipe-up{
                    @include flex(space-around, center);
                    margin-left: 120px;
                    margin-right: 120px;

                    & .swiper-up-left-content {
                        display: flex;
                        flex-direction: column;
                        color: #FFFFFF;
                        @include sizing(30%, 100%);

                        & .about-us-title-team{
                            font-weight: bold;
                            display: flex;
                            justify-content: flex-start;

                            & h2{
                                font-size: 3rem;
                            }
                        }

                        & .sub-title-team {
                            text-align: left;

                            & #paragraph {
                                font-weight: bold;
                                font-size: 1.4rem;
                            }
                        }
                    }

                        & .swipe-up-center-content{
                            // @include flex(center, center);
                            flex-direction: column;
                            color: white;
                            @include sizing(10%, 100%);

                            & .our-team-title{
                                font-size: 2rem;
                                font-weight: bold;

                            }

                            & #github{
                                margin-top: 30px;
                                @include sizing(6.5rem, 6.5rem);
                            }

                            & .team-arrow{
                                @include sizing(7.5rem, 7.5rem);
                                transform: rotate(30deg);
                                margin-top: 30px;
                                margin-left: 40px;;
                            }

                        }

                        & .circle-container{
                            background-color: #FFFFFF;
                            color: black;
                            border-radius: 100%;
                            @include sizing(400px, 400px);
                            padding: 30px;
                            display: grid;
                            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                            gap: 15px;

                            & .div1 {
                                @include backgrounds(url(./img/javi-pitayappteam.jpg), cover, center, no-repeat);
                                grid-row-start: 1;
                                grid-column-start: 2;
                                grid-row-end: 3;
                                grid-column-end: 4;
                                border-radius: 100%;

                                & .javi-container{

                                        @include sizing(100%, 100%);
                                        @include flex(center, center);
                                        border-radius: 100%;
                                        opacity: 0;
                                        transition: .6s ease;

                                    & .javi {
                                        color: white;
                                        font-size: 20px;
                                        text-align: center;
                                        text-decoration: none;
                                        margin: 20px;

                                        }

                                        &:hover{
                                        background-color: #000;
                                        opacity: 0.7;
                                        transition: .5s ease-in-out;
                                        }
                                    }


                            }
                            & .div2 {
                                @include backgrounds(url(./img/antonio-pitayappteam.jpg), cover, center, no-repeat);
                                grid-row-start: 1;
                                grid-column-start: 4;
                                grid-row-end: 3;
                                grid-column-end: 6;
                                border-radius: 100%;

                                & .antonio-container{

                                        @include sizing(100%, 100%);
                                        @include flex(center, center);
                                        border-radius: 100%;
                                        opacity: 0;
                                        transition: .6s ease;

                                    & .antonio {
                                        color: white;
                                        font-size: 20px;
                                        text-align: center;
                                        text-decoration: none;
                                        margin: 20px;

                                        }

                                        &:hover{
                                        background-color: #000;
                                        opacity: 0.7;
                                        transition: .5s ease-in-out;
                                        }
                                    }
                            }

                            & .div3 {
                                @include backgrounds(url(./img/andrea-pitayappteam.jpg), cover, center, no-repeat);
                                grid-row-start: 3;
                                grid-column-start: 1;
                                grid-row-end: 5;
                                grid-column-end: 3;
                                border-radius: 100%;

                                & .andrea-container{

                                        @include sizing(100%, 100%);
                                        @include flex(center, center);
                                        border-radius: 100%;
                                        opacity: 0;
                                        transition: .6s ease;

                                    & .andrea {
                                        color: white;
                                        font-size: 20px;
                                        text-align: center;
                                        text-decoration: none;
                                        margin: 20px;

                                        }

                                        &:hover{
                                        background-color: #000;
                                        opacity: 0.7;
                                        transition: .5s ease-in-out;
                                        }
                                    }
                            }

                            & .div4 {
                                background-color: rgb(218, 218, 218);
                                grid-row-start: 3;
                                grid-column-start: 3;
                                grid-row-end: 5;
                                grid-column-end: 5;
                                border-radius: 100%;


                            }

                            & .div5 {
                                @include backgrounds(url(./img/irene-pitayappteam.jpg), cover, center, no-repeat);
                                grid-row-start: 3;
                                grid-column-start: 5;
                                grid-row-end: 5;
                                grid-column-end: 7;
                                border-radius: 100%;

                                & .irene-container{

                                        @include sizing(100%, 100%);
                                        @include flex(center, center);
                                        border-radius: 100%;
                                        opacity: 0;
                                        transition: .6s ease;

                                    & .irene {
                                        color: white;
                                        font-size: 20px;
                                        text-align: center;
                                        text-decoration: none;
                                        margin: 20px;

                                        }

                                        &:hover{
                                        background-color: #000;
                                        opacity: 0.7;
                                        transition: .5s ease-in-out;
                                        }
                                    }
                            }

                            & .div6 {
                                @include backgrounds(url(./img/regy-pitayappteam.jpg), cover, center, no-repeat);
                                grid-row-start: 5;
                                grid-column-start: 2;
                                grid-row-end: 7;
                                grid-column-end: 4;
                                border-radius: 100%;

                                & .regina-container{

                                        @include sizing(100%, 100%);
                                        @include flex(center, center);
                                        border-radius: 100%;
                                        opacity: 0;
                                        transition: .6s ease;

                                    & .regina {
                                        color: white;
                                        font-size: 20px;
                                        text-align: center;
                                        text-decoration: none;
                                        margin: 20px;

                                        }

                                        &:hover{
                                        background-color: #000;
                                        opacity: 0.7;
                                        transition: .5s ease-in-out;
                                        }
                                    }
                            }
                            & .div7 {
                                background-color: rgb(218, 218, 218);
                                grid-row-start: 5;
                                grid-column-start: 4;
                                grid-row-end: 7;
                                grid-column-end: 6;
                                border-radius: 100%;

                                & .noelia-container{

                                        @include sizing(100%, 100%);
                                        @include flex(center, center);
                                        border-radius: 100%;
                                        opacity: 0;
                                        transition: .6s ease;

                                    & .noelia {
                                        color: white;
                                        font-size: 20px;
                                        text-align: center;
                                        text-decoration: none;


                                        }

                                        &:hover{
                                        background-color: #000;
                                        opacity: 0.7;
                                        transition: .5s ease-in-out;
                                        }
                                    }
                            }

                        }

                }

        }

                    /*  & .popup-out-swipe-up{

                        @include sizing(100%, 20vh);
                        @include flex(end, end);


                        & .popup-out-container{

                        @include sizing(30%, 50%);
                        @include flex(space-evenly, center);
                        margin-bottom: 20px;
                        z-index: 1;

                        & .popup-out-title{

                            @include flex(none, center);
                                @include fonts('Lora', italic, 700, 2rem, none);
                                color: #FFFFFF;
                                margin-top: 30px;
                        }

                        }
                    } */

    }

}

    & #contact-with-us {
        position: relative;
        z-index: 0;
        @include sizing(100vw, 100vh);
        @include flex(center, center);
        @include backgrounds(url(./img/contactPic.jpg), cover, center, no-repeat);

        & .content-contact {
            @include sizing(100%, auto);
            @include flex(center, center);
            color: #FFFFFF;

            & .slide-right-2 {
                @include sizing(auto, 100%);
                @include flex(center, center);
                flex-direction: column;

                & .center-content {
                    @include flex(none, center);
                    flex-direction: column;

                    & h1 {
                        @include fonts('Lora', italic, none, 9rem, none);
                        @include spaces(0, 0);
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }

                    & .social-media-logos {
                        @include flex(center, center);
                        @include sizing(100%, none);

                        & .logo-bar {

                            @include sizing(100%, none);
                            @include flex(space-evenly, none);
                            margin-top: 35px;

                            svg {
                                @include sizing(5.5rem, 5.5rem);
                                cursor: pointer;
                                -webkit-filter: drop-shadow(5px 5px 2px rgba(249, 69, 142, 1));
                                filter: drop-shadow(5px 5px 2px rgba(249, 69, 142, 1));
                            }
                        }
                    }
                }
            }
        }
    }

    & #donations {
        position: relative;
        //z-index: 1;
        @include sizing(100vw, 100vh);
        @include flex(center, center);
        @include backgrounds(url(./img/donationsPic.jpg), cover, center, no-repeat);
        flex-direction: column;

        & .content-donations {
            @include sizing(100%, 60vh);
            display: flex;
            color: #FFFFFF;

            & .slide-left-2 {
                @include sizing(100%, auto);
                @include flex(center, center);
                flex-direction: column;

                & .center-content {
                    display: flex;
                    @include sizing(50%, auto);
                    text-align: center;
                    z-index: 2;

                    & .donations-title {
                        margin-bottom: 2rem;

                        h1 {
                            @include fonts('Lora', italic, none, 9rem, none);
                            @include spaces(0, 0);
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45), 0px 4px 4px rgba(0, 0, 0, 0.45);
                        }
                    }

                    & .description {
                        @include fonts('Lora', normal, none, 2rem, center);
                    }
                }

                & .buttons {
                    display: flex;
                    margin-top: 8px;

                    & button {
                        @include spaces(0px 12px, 12px);
                        @include fonts('Lora', italic, 700, 1.6rem, center);
                        background: #F9458E;
                        mix-blend-mode: normal;
                        border-radius: 7px;
                        line-height: 36px;
                        color: #FFFFFF;
                        border: none;
                        cursor: pointer;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25)
                    }
                }
            }
        }

        & .popup {
            @include sizing(100%, 20vh);
            @include flex(none, end);

            & .popup-cont {
                @include sizing(30%, 50%);
                @include flex(space-evenly, center);
                margin-bottom: 20px;
                z-index: 1;

                & .popup-svg {
                    cursor: pointer;
                    -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .3));
                    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .3));
                    //Similar syntax to box-shadow
                }

                & .popup-title {
                    @include flex(none, center);
                    @include fonts('Lora', italic, 700, 2rem, none);
                    color: white;
                    margin-top: 30px;

                    p {
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }
            }
        }
    }

    & #navbar-pag>.swiper-pagination-bullet {
        background-color: transparent;
        @include sizing(auto, 3rem);
        @include spaces(0, 0 1rem);
        border-radius: 5px;
        //border: 2px solid #979797;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & #navbar-pag>.swiper-pagination-bullet-active {
        border: 2px solid white;
        background-color: #f9458e;
    }

    & #horizontal-pag>.swiper-pagination-bullet {
        background-color: rgb(255, 255, 255);
        @include sizing(1rem, 1rem);
        border-radius: 50%;
        border: 2px solid #979797;
        opacity: 1;
    }

    & #horizontal-pag>.swiper-pagination-bullet-active {
        border-color: white;
        background-color: #F9458E;
    }

    & #vertical-pag>.swiper-pagination-bullet,
    #vertical-pag-2>.swiper-pagination-bullet {
        background-color: rgb(255, 255, 255);
        @include sizing(3rem, 3rem);
        @include flex(center, center);
        @include fonts('Lora', normal, bold, 2rem, none);
        border-radius: 10%;
        border: 2px solid #979797;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & #vertical-pag>.swiper-pagination-bullet-active,
    #vertical-pag-2>.swiper-pagination-bullet-active {
        color: white;
        border-color: white;
        background-color: #F9458E;
    }

    & #horizontal-pag {
        margin-bottom: 20px;
        width: 40%;
        left: 30%;
        font-size: 0px;
    }

    & #navbar-pag {
        width: 55%;
        height: 7.5rem;
        left: 45%;
        top: 0%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        span {
            @include fonts('Lora', normal, bold, 1.8rem, none);
            color: white;
        }
    }

    /* & .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 7px);
    } */

    & #vertical-pag {
        right: 1%;
        top: 95%;
        transform: translate3d(0px, -73%, 0);
        color: #000000;
    }

    & #vertical-pag-2 {
        /* right: none; */
        left: 1%;
        top: 95%;
        transform: translate3d(0px, -73%, 0);
        color: #000000;
        z-index: 15;
    }


}
