@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lora, serif;
    width: 100vw;
    height: 100vh;
    //font-size: 62.5%;

    header {

        & nav {
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 120px;
            display: flex;
            justify-content: space-between;

            & .logo {
                width: 250px;
                display: flex;
                justify-content: space-around;
                align-items: center;

                & img {
                    width: 4.5rem;
                    height: 4.5rem;
                    margin-left: 45px;
                    cursor: pointer;

                    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .3));
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .3));
                }

                & .title {
                    color: white;
                    font-weight: bold;
                    font-size: 1.5rem;
                    display: flex;
                    align-items: flex-end;
                    margin-left: 8px;
                    visibility: visible;
                }
            }

            & .menu {
                width: 800px;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                & ul {
                    list-style: none;
                    color: white;
                    font-weight: bold;
                    font-size: 1.8rem;
                    display: flex;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    justify-content: space-evenly;
                    align-items: center;
                    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);

                    li {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    main {

        & #prev {
            color: white;
            margin-left: 15px;
        }

        & #next {
            color: white;
            margin-right: 15px;
        }

        & .arrows {
            position: absolute;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: space-between;
            color: white;

            & .prev {
                width: 100px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                & .iconify {
                    font-size: 6rem;
                    cursor: pointer;
                    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                    /* Similar syntax to box-shadow */
                    z-index: 1;
                }
            }

            & .next {
                width: 100px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                & .iconify {
                    font-size: 6rem;
                    cursor: pointer;
                    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                    /* Similar syntax to box-shadow */
                    z-index: 1;
                }
            }
        }

        & #initial-page {
            position: relative;
            z-index: 0;
            width: 100vw;
            height: 100vh;
            background-image: url(./img/mainPic.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;

            & .initial-content {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                color: #FFFFFF;

                & .initial-slide {
                    width: auto;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    & .center-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        & .initial-title {
                            h1 {
                                font-size: 9rem;
                                font-style: italic;
                                margin: 0;
                                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                            }
                        }

                        & .description {
                            text-align: center;
                            font-size: 2rem;
                        }
                    }

                    & .buttons {
                        display: flex;
                        margin-top: 8px;

                        & .btn {
                            margin: 0px 12px;
                            background: #F9458E;
                            mix-blend-mode: normal;
                            border-radius: 7px;
                            font-family: 'Lora';
                            font-style: italic;
                            font-weight: 700;
                            font-size: 1.6rem;
                            line-height: 36px;
                            text-align: center;
                            color: #FFFFFF;
                            border: none;
                            padding: 12px;
                            cursor: pointer;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

                            & a {
                                text-decoration: none;
                                outline: none;
                                color: #FFFFFF;
                            }
                        }
                    }

                    & .guest {
                        color: #FFFFFF;
                        font-size: 1.8rem;
                        font-weight: bold;
                        margin: 1rem;
                        cursor: pointer;
                        //text-decoration: underline;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }
            }
        }

        & #how-it-works {
            position: relative;
            z-index: 0;
            width: 100vw;
            height: 100vh;
            background-image: url(./img/howItWorks.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;

            & .content-how-it-works {
                width: 100%;
                height: 60vh;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #FFFFFF;
                position: relative;

                & .slide-right-1 {
                    width: auto;
                    height: 100%;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    display: flex;
                    flex-direction: column;


                    & .center-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        z-index: 2;

                        & .how-it-works-title {
                            h1 {
                                font-size: 9rem;
                                font-style: italic;
                                margin: 0;
                                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                            }
                        }

                        & .knives {
                            font-size: 8rem;
                            display: flex;
                            margin-top: 20px;

                            & #left_knife {
                                position: relative;
                                left: 50px;
                                -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                            }

                            & #right_knife {
                                position: relative;
                                right: 50px;
                                color: #F9458E;
                                z-index: -1;
                                transform: scaleX(-1);
                                -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                            }
                        }

                        & .pink_text {

                            color: #F9458E;
                            text-align: center;
                            font-size: 2rem;
                            font-family: 'Lora';
                            font-style: italic;
                            font-weight: bold;
                            width: 20%; //60% cuando cambiamos al popup

                            p {
                                margin: 15px;
                                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            }
                        }
                    }
                }
            }

            /* Aquí empieza el scss del slider cómo funciona,
la parte del popup o slider vertical */
            & .transparent {
                width: 80vw;
                height: 83vh;
                background-color: rgb(255, 255, 255, 0.6);
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5rem;

                & .first-container {
                    width: 37.5%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: end;

                    & .first-text {
                        width: 85%;
                        height: 80%;
                        background-color: rgb(255, 255, 255, 0.9);
                        border-radius: 1%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        padding: 3rem;
                        box-sizing: border-box;

                        & h2 {
                            font-family: 'Lora';
                            font-style: normal;
                            font-weight: 700;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            color: #663C11;
                        }

                        & p {
                            font-family: 'Lora';
                            font-style: normal;
                            font-weight: 500;
                            display: flex;
                            align-items: center;

                            color: #663C11;
                        }
                    }
                }

                & .second-container {
                    width: 37.5%;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    & .second-text {
                        width: 85%;
                        height: 80%;
                        background-color: rgb(255, 255, 255, 0.9);
                        border-radius: 1%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        padding: 3rem;
                        box-sizing: border-box;

                        & h2 {
                            font-family: 'Lora';
                            font-style: normal;
                            font-weight: 700;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            color: #663C11;
                        }

                        & p {
                            font-family: 'Lora';
                            font-style: normal;
                            font-weight: 500;
                            display: flex;
                            align-items: center;

                            color: #663C11;
                        }
                    }
                }


                & .space {
                    width: 25%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    & .secondary-title {
                        font-family: 'Lora';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 3rem;
                        text-align: center;
                        color: #F9458E;
                        margin-top: 2rem;
                    }

                    & .pitayapp-label {
                        height: 3.6rem;
                        width: 75%;
                        background-color: #FFFFFF;
                        font-family: 'Lora';
                        font-style: italic;
                        font-weight: 700;
                        color: #F9458E;
                        /* border: 3px solid #663C11; */
                        //He comentado el borde porque no sigue las líneas recortadas con el clip-path
                        font-size: 2rem;
                        text-align: center;
                        line-height: 3.6rem;
                        margin-top: 2rem;
                        clip-path: polygon(0 0, 100% 0, 95% 12.5%, 100% 25%, 95% 37.5%, 100% 50%, 95% 62.5%, 100% 75%, 95% 87.5%, 100% 100%, 0 100%, 5% 87.5%, 0% 75%, 5% 62.5%, 0% 50%, 5% 37.5%, 0% 25%, 5% 12.5%);
                    }

                    & .knives-container {
                        height: 60%;
                        display: flex;
                        flex-direction: column;
                        justify-content: end;

                        & .knives {
                            font-size: 8rem;
                            display: flex;
                            justify-content: center;
                            cursor: pointer;

                            & #left_knife {
                                color: #FFFFFF;
                                -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                                transform: rotate(-45deg);
                            }

                            & #right_knife {
                                color: #F9458E;
                                -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                                transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
                            }
                        }

                        & .pink_text {
                            color: #F9458E;
                            text-align: center;
                            font-size: 1.5rem;
                            font-family: 'Lora';
                            font-style: italic;
                            font-weight: bold;
                            padding: 0 2rem 2rem;
                        }
                    }
                }
            }
        }

        & #about-us {
            position: relative;
            width: 100vw;
            height: 100vh;
            background-image: url(./img//aboutUsPic.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .empty {
                width: 100%;
                height: 20vh;
            }

            & .content-about-us {
                width: 100%;
                height: 60vh;
                display: flex;
                color: #FFFFFF;

                & .slide-left-1 {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    & .center-content {
                        width: 50%;
                        height: auto;
                        text-align: center;
                        z-index: 2;

                        & .about-us-title {
                            h1 {
                                font-size: 9rem;
                                font-style: italic;
                                margin: 0;
                                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                            }
                        }

                        & .sub-title {
                            h2 {
                                margin: 0;
                                margin-bottom: 30px;
                                font-style: italic;
                                width: 70%;
                                font-weight: 600;
                                font-size: 3.5rem;
                                text-align: right;
                                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                            }
                        }
                    }
                }
            }

            & .popup {
                width: 100%;
                height: 20vh;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;

                & .popup-container {
                    width: 30%;
                    height: 50%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-bottom: 1.25rem;
                    z-index: 1;

                    & .popup-title {
                        display: flex;
                        align-items: center;
                        font-family: 'Lora';
                        font-style: italic;
                        font-weight: 700;
                        color: #F9458E;
                        font-size: 2rem;
                        margin-top: 30px;

                        p {
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                        }
                    }

                    & .popup-svg {
                        cursor: pointer;
                        -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .3));
                        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .3));
                        /* Similar syntax to box-shadow */
                    }
                }
            }
        }

        & #contact-with-us {
            position: relative;
            z-index: 0;
            width: 100vw;
            height: 100vh;
            background-image: url(./img/contactPic.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;

            & .content-contact {
                background-color: transparent;
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #FFFFFF;

                & .slide-right-2 {
                    background-color: transparent;
                    width: auto;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    & .center-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        & h1 {
                            font-size: 9rem;
                            font-style: italic;
                            margin: 0;
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

                        }

                        & .social-media-logos {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;

                            & .logo-bar {

                                width: 100%;
                                display: flex;
                                justify-content: space-evenly;
                                margin-top: 35px;

                                svg {
                                    width: 5.5rem;
                                    height: 5.5rem;
                                    cursor: pointer;
                                    -webkit-filter: drop-shadow(5px 5px 2px rgba(249, 69, 142, 1));
                                    filter: drop-shadow(5px 5px 2px rgba(249, 69, 142, 1));
                                }
                            }
                        }
                    }
                }
            }
        }

        & #donations {
            position: relative;
            //z-index: 1;
            width: 100vw;
            height: 100vh;
            background-image: url(./img/donationsPic.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .empty {
                width: 100%;
                height: 20vh;
            }

            & .content-donations {
                width: 100%;
                height: 60vh;
                display: flex;
                color: #FFFFFF;

                & .slide-left-2 {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    & .center-content {
                        display: flex;
                        width: 50%;
                        height: auto;
                        text-align: center;
                        z-index: 2;

                        & .donations-title {
                            margin-bottom: 2rem;

                            h1 {
                                font-size: 9rem;
                                font-style: italic;
                                margin: 0;
                                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45), 0px 4px 4px rgba(0, 0, 0, 0.45);
                            }
                        }

                        & .knives {
                            font-size: 8rem;
                            display: flex;

                            & #left_knife {
                                position: relative;
                                left: 50px;
                                -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                            }

                            & #right_knife {
                                position: relative;
                                right: 50px;
                                color: #F9458E;
                                z-index: -1;
                                transform: scaleX(-1);
                                -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .7));
                            }
                        }

                        & .description {
                            text-align: center;
                            font-size: 2rem;
                        }

                        & .pink_text {
                            color: #F9458E;
                            text-align: center;
                            font-size: 2rem;
                            font-family: 'Lora';
                            font-style: italic;
                            font-weight: bold;
                        }
                    }

                    & .buttons {
                        display: flex;
                        margin-top: 8px;

                        & button {
                            margin: 0px 12px;
                            background: #F9458E;
                            mix-blend-mode: normal;
                            border-radius: 7px;
                            font-family: 'Lora';
                            font-style: italic;
                            font-weight: 700;
                            font-size: 1.6rem;
                            line-height: 36px;
                            text-align: center;
                            color: #FFFFFF;
                            border: none;
                            padding: 12px;
                            cursor: pointer;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25)
                        }
                    }
                }
            }

            & .popup {
                width: 100%;
                height: 20vh;
                display: flex;
                align-items: flex-end;

                & .popup-cont {
                    width: 30%;
                    height: 50%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-bottom: 1.25rem;
                    z-index: 1;

                    & .popup-svg {
                        cursor: pointer;
                        -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .3));
                        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .3));
                        /* Similar syntax to box-shadow */
                    }

                    & .popup-title {
                        display: flex;
                        align-items: center;
                        font-family: 'Lora';
                        font-style: italic;
                        font-weight: 700;
                        color: white;
                        font-size: 2rem;
                        margin-top: 30px;

                        p {
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                        }
                    }
                }
            }
        }

        & .swiper-pagination-bullet {
            background-color: rgb(255, 255, 255);
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 2px solid #979797;
            opacity: 1;
        }

        & .swiper-pagination-bullet-active {
            border-color: white;
            background-color: #F9458E;
        }

        & .swiper-pagination {
            margin-bottom: 20px;
        }
    }

    footer {
        position: relative;
        width: 100%;
        height: 100px;
        bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        & .dots {
            width: 250px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 25px;

            & .dot {
                background-color: rgb(255, 255, 255);
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 3px solid #979797;
            }

            & .initial-pita {
                border-color: white;
                background-color: #F9458E;
            }
        }
    }
}